*{
    padding: 0px;
    margin: 0px;
}

/* .body-main-section-box{

} */
    /* <!-- HEADER LOGO NAV BOOK TABLE START --> */

.logo{
    width: 84px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
    font-family: 'FontAwesome';
}
.header-nav{
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-box{
    width:70.3%;
    height: 122px;
    padding: 1px ;   
    color: rgb(2, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box>a{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 5px;
}
.nav-bar-box>a:hover{
     color: #000000;
    padding: .7rem;
    border-bottom:1px solid #c39a8b ;
    transition: .2S;
}

.mobile-nav{
    width:10.3%;
    height: 122px;
    display: none;
}
.mobil-menu-bar{
    margin-right: 28px;
    display: none;
 }
 #mobil-menu-bar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 50vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(15px);
    box-shadow: 1px -2px 10px 2px #3d3d3d;
    display: none;
    flex-direction: column;
    align-items: center;
}
#mobil-menu-bar>a{
    margin: 10px;
    width: 92%;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}
.mobil-menu-bar>i{
    font-size: 30px;
    color: white;
}
.booking-hall>input{
    width: 207px;
    height: 50px;
    background-color: brown;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px 0px 25px 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.booking-hall>input:hover{
    background-color: #000000;
    color: white;
    border-radius: 25px;
}
@media only screen and (max-width : 1060px) {
    .nav-bar-box>a{
        font-size: 19px;
    }
}
@media only screen and (max-width : 710px) {
    .nav-bar-box>a{
         display: none;
    }
    .mobile-nav{
        display: block;
        width: 10.3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .booking-hall>input{

    }
    }
    /* <!-- HEADER LOGO NAV BOOK TABLE END --> */

/* <!-- HOME INTRODUCTION BOX START --> */
.text-and-image{
    width: 100%;
    height: 600px;
    background-image: url(./image/backgroundimage.jpg);

    display: flex;
    justify-content: center;
}
.hone-text-box{
    width: 45%;
    height: 551px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-home{
        /* display: flex; */
        text-align: center;
    }
    #about{
        background-color: rgb(58, 58, 132);
        width: 120px;
        height: 41px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    #about:hover{
        border-radius: 25px 0px 10px 0px;
    }
    #contact{
        background-color: rgb(216, 172, 51);
        width: 150px;
        height: 41px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    #contact:hover{
        border-radius: 25px 0px 10px 0px;
    }
}
.home-img-box{
width: 55%;
height: 800px;
}
.main-img-fst{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.main-img-fst>img{
    
    height: 790px;
    object-fit: cover;
    border-radius: 120px 0px 120px 0px;
    position: relative;

}


.chicken-biryani{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 233px;
    left: 1236px;
    border-radius: 100%;

}
.chicken-biryani>img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    
}
.biryani{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 622px;
    left: 625px;
    border-radius: 100%;
}
.biryani>img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.our-gallery-box{
    width: 161px;
    height: 166px;
    background-color: rgb(39, 39, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 650px;
    left: 1280px;
    border-radius: 65px 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}
/* <!-- HOME INTRODUCTION BOX end --> */

/* <!-- MENU SECTION BOX START --> */
.menu-img-text-section{
    width: 100%;
    height: 800px;
    background-image: url(./image/Menu\ Backgroundcut.png);
    margin-top: 160px;
    display: flex;
}
.menu-img-section{
    width: 55%;
    height: 500px;
    background-image: url(./image/biriyani.png);
    background-repeat:no-repeat ;
    background-position: center;
}
.menu-text-section{
    width: 55%;
    height: 640px;
}
.menu-text-section,h1{
    margin-top: 60px;
}
.menu-text-section,p{
    margin-top: 5px;
    font-size: 19px;
    font-weight: 500;
}
.menu-button{
    width: 121px;
    height: 50px;
    background-color: blueviolet;
    border: none;
}

/* <!-- MENU SECTION BOX END --> */