*{
    padding: 0px;
    margin: 0px;
}

/* .body-main-section-box{

} */
    /* <!-- HEADER LOGO NAV BOOK TABLE START --> */

.logo{
    width: 84px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
    font-family: 'FontAwesome';
}
.header-nav{
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-box{
    width:70.3%;
    height: 122px;
    padding: 1px ;   
    color: rgb(2, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box>a{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 5px;
}
.nav-bar-box>a:hover{
     color: #000000;
    padding: .7rem;
    border-bottom:1px solid #c39a8b ;
    transition: .2S;
}

.mobile-nav{
    width:10.3%;
    height: 122px;
    display: none;
}
.mobil-menu-bar{
    margin-right: 28px;
    display: none;
 }
 #mobil-menu-bar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 50vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(15px);
    box-shadow: 1px -2px 10px 2px #3d3d3d;
    display: none;
    flex-direction: column;
    align-items: center;
}
#mobil-menu-bar>a{
    margin: 10px;
    width: 92%;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}
.mobil-menu-bar>i{
    font-size: 30px;
    color: white;
}
.booking-hall>input{
    width: 207px;
    height: 50px;
    background-color: brown;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px 0px 25px 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.booking-hall>input:hover{
    background-color: #000000;
    color: white;
    border-radius: 25px;
}
@media only screen and (max-width : 1060px) {
    .nav-bar-box>a{
        font-size: 19px;
    }
}
@media only screen and (max-width : 710px) {
    .nav-bar-box>a{
         display: none;
    }
    .mobile-nav{
        display: block;
        width: 10.3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    }
    /* <!-- HEADER LOGO NAV BOOK TABLE END --> */

/* <!-- HOME INTRODUCTION BOX START --> */
.text-and-image{
    width: 100%;
    height: 600px;
    background-image: url(./image/backgroundimage.jpg);

    display: flex;
    justify-content: center;
}
.hone-text-box{
    width: 45%;
    height: 551px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-home{
        
        text-align: center;
    }
    #about{
        background-color: rgb(58, 58, 132);
        width: 120px;
        height: 41px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    #about:hover{
        border-radius: 25px 0px 10px 0px;
    }
    #contact{
        background-color: rgb(216, 172, 51);
        width: 150px;
        height: 41px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    #contact:hover{
        border-radius: 25px 0px 10px 0px;
    }
}
.home-img-box{
width: 55%;
height: 800px;
}
.main-img-fst{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.main-img-fst>img{
    
    height: 790px;
    width: 70%;
    object-fit: cover;
    border-radius: 120px 0px 120px 0px;
    position: relative;

}


.chicken-biryani{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 100px;
    right: 0px;
    border-radius: 100%;

}
.chicken-biryani>img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    
}
.biryani{

    position: absolute;
    top: 402px;
    border-radius: 100%;
}
.biryani>img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.our-gallery-box{
    width: 161px;
    height: 166px;
    background-color: rgb(39, 39, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 550px;
    right: 50px;
    border-radius: 65px 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}
/* <!-- HOME INTRODUCTION BOX end --> */

/* <!-- MENU SECTION BOX START --> */
.menu-img-text-section{
    width: 100%;
    height: 1300px;
    background-image: url(./image/bg-ground.jpg);
    margin-top: 57px;
}
.menu-img-section{
    width: 55%;
    height: 490px;
    background-image: url(./image/biriyani.png);
    background-repeat:no-repeat ;
    background-position: center;
    margin-top: 197px;
}
.menu-text-section{
    width: 55%;
    height: 640px;
    margin-top: 197px;
    color:  black;
}
.menu-text-section,h1{
    margin-top: 60px;   
     margin-top: 197px;
}
.menu-text-section,p{
    margin-top: 5px;
    font-size: 19px;
    font-weight: 500;
    
}
.menu-button{
    width: 121px;
    height: 50px;
    background-color: blueviolet;
    border: none;
}
.menu-button:hover{
    border-radius: 0px 25px ;
}
.menu-dishes{
    width: 100%;
    height: 506px;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    color: #000000;
    
}
.box-image{
    width: 20%;
    height: 482px;
    margin: 0px 10px ;
}
.box-image>img{
    width: 100%;
    height: 283px;
}
.box-image >h4{
    display: flex;
    justify-content: center; 
}
.box-image >p{
    display: flex;
    justify-content: center;
}
.box-image:hover{
    background-color: #c39a8b;
    color: white;
    border-radius: 150px 0px 150px 0px;
}

/* <!-- MENU SECTION BOX END --> */

/* <!-- TRADITION AND FAMILY RECIPES SECTION START --> */
.tradition-text-and-image{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(59, 87, 87); */
        position: relative;
        color: #000000;
}
.tradition-hone-text-box{
    width: 452px;
    height: 551px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    left: 126px;
    top: 0px;

    .text-home{
        text-align: center;
    }
}
#about{
    background-color: rgb(58, 58, 132);
    width: 120px;
    height: 41px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#about:hover{
    border-radius: 25px 0px 10px 0px;
}
#contact{
    background-color: rgb(216, 172, 51);
    width: 150px;
    height: 41px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#contact:hover{
    border-radius: 25px 0px 10px 0px;
}

.tradition-home-img-box{
    width: 620px;
    height: 800px;
    position: absolute;
    left: 671px;
    top: -100px;

}
.tradition-main-img-fst{
width: 100%;
height: 800px;
display: flex;
justify-content: center;
margin-top: 30px;


}
.tradition-main-img-fst>img{

height: 790px;
width: 70%;
object-fit: cover;
border-radius: 120px 0px 120px 0px;
position: relative;

}


.tradition-family{
width: 250px;
height: 250px;
position: absolute;
top: 170px;
right: 0px;
border-radius: 100%;

}
.tradition-family>img{
width: 300px;
height: 300px;
border-radius: 0px 100px 0px 100px;

}
.tradition-family-food{

position: absolute;
top: 402px;
border-radius: 100%;
}
.tradition-family-food>img{
width: 250px;
height: 250px;
border-radius: 100px 0px 100px 0px;
}

/* <!-- TRADITION AND FAMILY RECIPES SECTION END --> */


/* <!-- SLIDER SHOW CONTACT START --> */
.slideshow-container {
    position: relative;
    top: 200px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 200px;
    border-radius: 3px 0 0 3px;
    top: 50%;

  }
  .prev{
    position: absolute;
    left: 200px;
    border-radius: 3px 0 0 3px;
    top: 50%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    /* background-color: rgba(0,0,0,0.8); */
    color: rgb(0, 0, 0);
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      position: relative;
      top: 200px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

/* <!-- SLIDER SHOW CONTACT END --> */

/* <!-- FINAL BOX START --> */

/* <!-- FINAL BOX END --> */